html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}
body{line-height:1;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
nav ul{list-style:none;}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;}
input,select{vertical-align:middle;}
p{line-height:1.5em;letter-spacing:0.04em;font-family:"Open Sans",sans-serif;font-weight:400;margin-bottom:1.4em;}p a{text-decoration:underline;}p a:hover{background-color:#f15a24;color:white;}
span{line-height:1.5em;letter-spacing:0.04em;font-family:"Open Sans",sans-serif;font-weight:400;}
a{text-decoration:none;color:#666666;}
h1{font-family:"rockwell","Arvo",serif;font-size:2.3em;margin-bottom:0.85em;color:#666666;margin-top:1.5em;}
h2{font-family:"rockwell","Arvo",serif;font-size:2em;margin-bottom:0.75em;color:#666666;}
h3{font-family:"Open Sans",sans-serif;font-size:1.15em;margin-bottom:0.75em;margin-top:0.5em;color:black;}
html{font-size:133.33333333%;}
.hiddentitle{display:none;}
.dotOrange{color:#f15a24;text-shadow:1px 1px 0px #eee;line-height:1.3em;}
html{margin-top:0px;}
body{background-image:url('img/bckg.png');background-repeat:repeat;font-family:"helvetica","Open Sans",sans-serif;line-height:1.4em;font-size:16.4px;letter-spacing:0.04em;margin:0;padding:0;direction:ltr;max-width:100%;}
.dottitre{color:#f15a24;}
.loga:hover{opacity:0.85;border:none;}
.Warptop{background-image:url('img/bckg2.png');background-repeat:repeat;height:90.2px;box-shadow:0 1px 2px 1px;}.Warptop h2{float:left;}
.logo{margin-top:0.3em;}
.first{float:right;margin-top:2.1em;margin-right:2.1em;}.first li{display:inline;font-weight:700;font-family:"rockwell","Arvo",serif;font-size:1.55em;}
.first a{text-decoration:none;color:#e5e5e5;margin-right:2.33em;padding:0.5em;}.first a:hover{background-color:#f15a24;color:white;}
.first A:active{color:#f15a24;}
.contentwrap{margin:0 auto 0;width:59.7em;}
.blogContentwrap{margin:0 auto ;width:45em;}
#cont{height:40em;}
.leftblog{width:100%;padding-top:2.5em;margin:0 auto;}
.rightblog{float:right;width:18.3em;padding-top:2.5em;}.rightblog h2{clear:both;}
.success{line-height:1.45em;}
.search label{display:none;}
.search input[type="text"]{width:73%;padding:0.5em 0;font-family:'Open Sans',sans-serif;color:#E5E5E5;display:block;height:1.5em;margin:1em 0em 0 0;border-radius:5px;float:left;}
.search input[type="submit"]{background-color:#666666;border-radius:10px;border:none;float:right;margin-bottom:2.5em;color:white;width:20%;height:2.8em;vertical-align:middle;-webkit-transition:background-color 0.3s ease-in-out;-moz-transition:background-color 0.3s ease-in-out;-o-transition:background-color 0.3s ease-in-out;transition:background-color 0.3s ease-in-out;}.search input[type="submit"]:hover{background-color:#00cccc;}
.search h2{margin-top:0em;}
.accroche{font-family:"rockwell","Arvo",serif;font-weight:700;line-height:1.1em;font-size:2.7em;text-align:center;text-shadow:2px 2px 0px #eee, 4px 4px 0px #707070;width:77%;margin:0 auto;margin-top:0.5em;}
.large{color:#f15a24;}
.sociallinks ul{text-align:center;margin:2.5em 1.5em 0 1.5em;}
.sociallinks li{display:inline-block;font-weight:700;font-size:1.30em;text-align:center;background-image:url('img/spritessoc.png');width:75px;height:75px;background-repeat:no-repeat;margin:1.5em 0.35em 1.5em 0.35em;}
.sociallinks a{display:block;height:75px;height:75px;}.sociallinks a:hover{border:none;}
.ic_linkedin{background-position:0 -158.98199462890625px;}
.ic_facebook{background-position:0 0;}
.ic_twitter{background-position:0 -78.98199462890625px;}
.ic_linkedin:hover,.ic_facebook:hover,.ic_twitter:hover{border-radius:50px;box-shadow:1px 1px 0px #eee, 3px 3px 0px #707070;text-decoration:none;border:none;}
#sliderContainer{width:940px;height:300px;position:relative;margin:0 auto;margin-top:1.5em;box-shadow:0 2px 5px rgba(0, 0, 0, 0.3),0 0 40px rgba(0, 0, 0, 0.1) inset;}
.slideContent{background:url("img/slider/contentBg.png") repeat scroll 0 0 rgba(0, 0, 0, 0.75);position:absolute;bottom:0px;right:0px;padding:10px;width:920px;}
.slide h2{color:#FFF;margin:0 0 5px 0;font-size:1.2em;}
.slide p{font-size:14px;color:#FFF;margin:0;}
.jFlowSlideContainer{overflow:hidden;}
.jFlowSlideContainer a{color:#F90;text-decoration:none;}
.jFlowSlideContainer a:hover{text-decoration:none;}
.jFlowSlideContainer a:focus{position:relative;top:1px;}
.jFlowNext{background:url("img/slider/arrows.png") no-repeat scroll 0 -35px transparent;height:130px;position:absolute;top:75px;right:0px;width:50px;cursor:pointer;}
.jFlowPrev{background:url("img/slider/arrows.png") no-repeat scroll -84px -35px transparent;height:130px;position:absolute;top:75px;left:0px;width:50px;cursor:pointer;}
.jFlowPrev:hover{background-position:-84px -235px;}
.jFlowNext:hover{background-position:0px -235px;}
.slide{border-radius:25px;}
#myController{position:absolute;top:5px;right:5px;}
.jFlowControl{background:url("img/slider/bullet.png") no-repeat scroll 0px 0px transparent;float:left;width:15px;height:15px;}
.jFlowControl:hover{background-position:-32px 0px;cursor:pointer;}
.jFlowSelected,.jFlowSelected:hover{background-position:-15px 0px;}
.slideContent .moresec{display:none;}
.fancybox-wrap,.fancybox-skin,.fancybox-outer,.fancybox-inner,.fancybox-image,.fancybox-wrap iframe,.fancybox-wrap object,.fancybox-nav,.fancybox-nav span,.fancybox-tmp{padding:0;margin:0;border:0;outline:none;vertical-align:top;}
.fancybox-wrap{position:absolute;top:0;left:0;z-index:8020;}
.fancybox-skin{position:relative;background:#f9f9f9;color:#444;text-shadow:none;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}
.fancybox-opened{z-index:8030;}
.fancybox-opened .fancybox-skin{-webkit-box-shadow:0 10px 25px rgba(0, 0, 0, 0.5);-moz-box-shadow:0 10px 25px rgba(0, 0, 0, 0.5);box-shadow:0 10px 25px rgba(0, 0, 0, 0.5);}
.fancybox-outer,.fancybox-inner{position:relative;}
.fancybox-inner{overflow:hidden;}
.fancybox-type-iframe .fancybox-inner{-webkit-overflow-scrolling:touch;}
.fancybox-error{color:#444;font:14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;margin:0;padding:15px;white-space:nowrap;}
.fancybox-image,.fancybox-iframe{display:block;width:100%;height:100%;}
.fancybox-image{max-width:100%;max-height:100%;}
#fancybox-loading,.fancybox-close,.fancybox-prev span,.fancybox-next span{background-image:url('fancybox_sprite.png');}
#fancybox-loading{position:fixed;top:50%;left:50%;margin-top:-22px;margin-left:-22px;background-position:0 -108px;opacity:0.8;cursor:pointer;z-index:8060;}
#fancybox-loading div{width:44px;height:44px;background:url('fancybox_loading.gif') center center no-repeat;}
.fancybox-close{position:absolute;top:-18px;right:-18px;width:36px;height:36px;cursor:pointer;z-index:8040;}
#mc-embedded-subscribe{border:none;margin-top:1em;margin-right:1.2em;font-size:1.04em;}
#mce-EMAIL{width:89%;border-radius:10px;height:1.7em;padding-left:0.4em;}
.fancybox-nav{position:absolute;top:0;width:40%;height:100%;cursor:pointer;text-decoration:none;background:transparent url('blank.gif');-webkit-tap-highlight-color:rgba(0, 0, 0, 0);z-index:8040;}
.fancybox-prev{left:0;}
.fancybox-next{right:0;}
.fancybox-nav span{position:absolute;top:50%;width:36px;height:34px;margin-top:-18px;cursor:pointer;z-index:8040;visibility:hidden;}
.fancybox-prev span{left:10px;background-position:0 -36px;}
.fancybox-next span{right:10px;background-position:0 -72px;}
.fancybox-nav:hover span{visibility:visible;}
.fancybox-tmp{position:absolute;top:-99999px;left:-99999px;visibility:hidden;max-width:99999px;max-height:99999px;overflow:visible !important;}
.fancybox-lock{overflow:hidden;}
.fancybox-overlay{position:absolute;top:0;left:0;overflow:hidden;display:none;z-index:8010;background:url('fancybox_overlay.png');}
.fancybox-overlay-fixed{position:fixed;bottom:0;right:0;}
.fancybox-lock .fancybox-overlay{overflow:auto;overflow-y:scroll;}
.fancybox-title{visibility:hidden;font:normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;position:relative;text-shadow:none;z-index:8050;}
.fancybox-opened .fancybox-title{visibility:visible;}
.fancybox-title-float-wrap{position:absolute;bottom:0;right:50%;margin-bottom:-35px;z-index:8050;text-align:center;}
.fancybox-title-float-wrap .child{display:inline-block;margin-right:-100%;padding:2px 20px;background:transparent;background:rgba(0, 0, 0, 0.8);-webkit-border-radius:15px;-moz-border-radius:15px;border-radius:15px;text-shadow:0 1px 2px #222;color:#FFF;font-weight:bold;line-height:24px;white-space:nowrap;}
.fancybox-title-outside-wrap{position:relative;margin-top:10px;color:#fff;}
.fancybox-title-inside-wrap{padding-top:10px;}
.fancybox-title-over-wrap{position:absolute;bottom:0;left:0;color:#fff;padding:10px;background:#000;background:rgba(0, 0, 0, 0.8);}
.lastArticles{width:57.317em;margin:0 auto;margin-top:0em;}.lastArticles article{clear:both;}
.lastArticles img{opacity:0.3;border:none;-webkit-transition:opacity 0.5s ease-in-out;-moz-transition:opacity 0.5s ease-in-out;-o-transition:opacity 0.5s ease-in-out;transition:opacity 0.5s ease-in-out;}
.lastArticles:hover img{opacity:0.9;}
.articontent{clear:both;margin-top:1em;}.articontent img{float:left;margin:0 1.4em 0.7em 0;box-shadow:0 5px 10px #777;}
.hereisthearticle img{width:100%;height:auto;float:left;margin:0 0 1em 0;}
.contentart img{float:left;margin-right:1.4em;margin-bottom:1em;}
.contentwrapWork{margin:0 auto;width:45em;}
.contentwork .moresec{margin-top:-3.4em;}
.contentwork img{box-shadow:0 5px 10px #777;float:left;margin:0em 1em 1em 0 !important;}
.contentwork .readMore{text-decoration:none;}
.footwrap{clear:both;height:15em;background-image:url('img/bckg2.png');background-repeat:repeat;padding-top:1em;box-shadow:0 1px 2px 1px;}
.footerclass{clear:both;width:57.31em;margin:0 auto;background-image:url('img/bckg2.png');background-repeat:repeat;padding-top:1em;}
.cont{float:left;width:25%;font-family:"helvetica","Open Sans",sans-serif;}
.altnav ul{padding-left:0;margin-top:-0.45em;}
.altnav li{font-weight:700;font-family:"rockwell","Arvo",serif;font-size:1.5em;line-height:1.6em;}
.altnav a{text-decoration:none;color:#e5e5e5;}.altnav a:hover{border-bottom:1px dashed;border-color:#f15a24;}
.vcard{font-size:1em;color:#e5e5e5;}.vcard a{text-decoration:none;color:#e5e5e5;margin-right:3em;}.vcard a:hover{border-bottom:1px dashed;border-color:#f15a24;}
.tel{margin-bottom:1em;}
.hfooter{color:#E5E5E5;margin-bottom:0.5em;}
#foot #sent{margin-top:1.6em;}
#foot #nom{margin-bottom:0.5em;}
#foot #e-mail,#foot #nom{width:10em;margin:0.3em 0.2em 0 0;border-radius:5px 5px 5px 5px;font-family:'Open Sans',sans-serif;padding:0.3em;}
#foot .email,#foot .name{color:#E5E5E5;}
#foot #nom{margin-bottom:1em;}
#sent{background-color:rgba(112, 112, 112, 0.4);border:medium none;border-radius:5px 5px 5px 5px;clear:both;color:#FFFFFF;display:inline;float:right;font-family:'Rockwell',sans-serif;font-size:1.2em;font-weight:700;margin:-2.3em -0.3em 0 2em;padding:0.6em;text-align:center;}
#sent:hover{color:#f15a24;}
.tweetfeed{margin-bottom:3em;margin-bottom:3em;}
.tweetfeed p{font-family:"helvetica","Open Sans",sans-serif;color:#E5E5E5;}
#pubdate{float:right;color:#E5E5E5;font-family:"rockwell Std Normal","Arvo",serif;font-weight:400;line-height:1.1em;font-size:1em;}
#portitle{width:57.317em;margin:0 auto;margin-top:1em;}
#navptf{width:57.317em;margin:0 auto 2.5em;list-style-type:none;padding-left:0em;}
#navptf li{display:inline;margin-right:0.5em;}
#navptf a{font-family:"rockwell","Arvo",serif;font-weight:700;font-size:1.5em;list-style-type:none;color:black;text-decoration:none;}
#navptf a:hover{opacity:0.4;}
#navptf img{margin-top:1.5em;}
.wrapform{margin:2.5em 0em 2.5em 0em;}.wrapform form{float:left;width:50%;margin-bottom:1.5em;}
.wrapform input[type="submit"]{margin-top:1em;background-color:rgba(112, 112, 112, 0.4);border:none;color:white;font-family:'Rockwell',sans-serif;font-weight:700;font-size:1.5em;padding:0.5em;border-radius:5px;float:right;}
.wrapform input{color:black;}
.wrapform .accroche{font-family:"rockwell","Arvo",serif;font-weight:700;line-height:1.1em;font-size:3.65em;margin:0;text-shadow:2px 2px 0px #EEE, 4px 4px 0px #707070;float:right;width:50%;}
.wrapform .large{color:#F15A24;font-size:1em;}
.wrapform .socContact{list-style-type:none;padding-left:0px;}
.wrapform .socContact li{background-image:url('img/spritessoc.png');width:75px;display:inline-block;margin-top:0.4em;margin-right:0.25em;margin-left:0.25em;background-repeat:no-repeat;}
.wrapform .socContact li:hover{border-radius:50px;box-shadow:1px 1px 0px #eee, 3px 3px 0px #707070;text-decoration:none;}
.wrapform .socContact a{display:block;height:75px;height:75px;}
.wrapform .vcard{color:black;font-weight:700;color:#707070;}.wrapform .vcard .email{color:#707070;}
#fieldcontact{background-color:rgba(112, 112, 112, 0.2);padding:2em 2.5em 2em 2em;max-width:25em;max-height:95%;border-radius:5px;}
.wrapform label{display:block;width:10em;float:left;clear:left;margin:1.5em 1em 0 0;font-weight:700;color:#707070;}
.wrapform #email,.wrapform #name{display:block;width:16em;height:1.5em;margin:1em 0em 0 0;border-radius:5px;padding:0.5em;font-family:'Open Sans',sans-serif;color:black;display:block;width:16em;height:1.5em;margin:1em 0em 0 0;border-radius:5px;}
.wrapform textArea{min-width:97%;max-width:100%;height:10em;margin:0.3em 0em 0 0;border:2px inset;border-radius:5px;}
.rightCont{float:right;width:28.6em;}.rightCont .accroche{text-align:left;margin:0;padding:0;font-size:2.9em;line-height:1;}
#sending:hover{color:#f15a24;}
#googleMap{width:100%;height:480px;margin-bottom:2.5em;border-radius:10px;}
.tagclass li a{background:rgba(241, 90, 36, 0.6);padding:0.75em 1em 0.75em 0.7em;border-radius:10px 20px 20px 10px;line-height:2.5em;display:inline;color:white;}.tagclass li a:hover{background:#f15a24;border-radius:10px 20px 20px 10px;line-height:2.5em;}
.tag h2{margin-bottom:0.35em;}
.aarticle{color:black;}
.aarticle:hover{opacity:0.7;}
.articles{width:100%;margin-bottom:1.3em;}.articles img{clear:both;margin:1em 0 1em 0;}
.titleblog{margin-bottom:0.5em;line-height:1em;clear:both;font-family:"rockwell","Arvo",serif;font-size:2em;color:#666666;}
.artinfo{font-family:'Helvetica LT','Open Sans',sans-serif;font-weight:400;text-align:right;margin-top:-1.2em;}
.author{float:left;font-family:"helvetica","Open Sans",sans-serif;font-weight:700;}
.contentart{clear:both;padding-top:1em;height:100%;width:35em;}
.cont span{color:#E5E5E5;}
.contentart img{float:left;box-shadow:0 5px 10px #777;transform:rotate(3deg);}
.moresec{margin-top:-3.5em;clear:both;}
.moresec p{padding-top:1em;}
.readMore{padding:0.7em;background-color:#f15a24;border-radius:10px;float:right;margin-bottom:2.5em;color:white;-webkit-transition:background-color 0.3s ease-in-out;-moz-transition:background-color 0.3s ease-in-out;-o-transition:background-color 0.3s ease-in-out;transition:background-color 0.3s ease-in-out;text-decoration:none;}.readMore:hover{background-color:lightgrey;}
.attachment-post-thumbnailwp-post-image{float:left;}
#commentform label{display:inline-block;width:4em;margin-bottom:1em;}
#commentform input{padding-left:0.3em;height:1.7em;border-radius:10px;border:1px solid lightgrey;}
.comment{margin-top:16px;float:left;margin-bottom:1.5em;}.comment img{border-radius:50px;float:left;}
.comment-author{font-weight:700;font-size:1.2em;margin-left:0.5em;}
.comment-date{font-size:0.8em;}
.commentSpace .comment{border:1px solid lightgrey;padding:1em;border-radius:10px;background-color:white;margin-bottom:0em;}
.comment-right p{margin-bottom:0;}
.singleblogart{margin-bottom:4.5em;}.singleblogart .moresec{margin-top:0;}
.sendingbut{float:right;display:inline;margin:-0.4em -0.3em 0em 0em;clear:both;margin-left:2em;text-align:center;background-color:rgba(112, 112, 112, 0.4);border:none;color:#FFFFFF;font-family:'Rockwell',sans-serif;font-weight:700;font-size:1.3em;border-radius:5px;padding:0.6em;}
.sendingbut:hover{color:#f15a24;}
.blogsearch{padding:0.5em;font-family:'Open Sans',sans-serif;border-radius:5px;}
.socialblog{list-style-type:none;padding-left:0px;}
.socialblog li{background-image:url('img/spritessoc.png');width:75px;height:75px;background-repeat:no-repeat;margin-bottom:1em;}
.socialblog li:hover{border-radius:50px;box-shadow:1px 1px 0px #eee, 3px 3px 0px #707070;text-decoration:none;}
.socialblog a{display:block;height:75px;height:75px;}
.sponslist{list-style-type:none;padding-left:0px;}
.sponslist a:hover{border:none;text-decoration:none;}
.sponslist img:hover{box-shadow:2px 2px 0px #eee;}
.sponslist li{margin-bottom:1.7em;}
.artpage{margin-top:1em;}.artpage .hereisthearticle{width:45em;}
.artpage .contentart{width:45em;}
.hereisthearticle h3:before{content:".";color:#f15a24;margin-right:0.4em;}
.domaine{text-align:center;}
.choose{font-family:"Rockwell",sans-serif;font-weight:700;}
.workclass ul{margin-bottom:2.5em;}.workclass ul li{display:inline-block;font-weight:700;font-size:0.83em;text-align:center;background-image:url('img/spritework.png');width:85px;height:85px;background-repeat:no-repeat;margin:0.7em;}.workclass ul li a{display:block;height:85px;height:85px;text-decoration:none;}
.workclass li:first-child{background-position:0 -173.97698974609375px;text-indent:-1000em;}
.workclass li:last-child{background-position:0 -86.96697998046875px;text-indent:-1000em;}
.tag-link-5{background-position:0 0;text-indent:-1000em;}
.workclass li:hover{border-radius:50px;box-shadow:1px 1px 0px #eee, 3px 3px 0px #707070;text-decoration:none;border:none;}
.articlesWork{width:47%;height:630px;margin-bottom:1.3em;float:left;margin-left:1.2em;}.articlesWork img{clear:both;margin:1em 0 1em 0;}
.commentSpace{clear:both;width:31em;}.commentSpace h4{clear:both;}
.commentSpace .readMore{padding:1em;padding-bottom:2.4em;width:8em;height:2em;}
.comment{margin-top:16px;clear:both;margin-bottom:1.5em;width:35em;}.comment img{float:left;margin-right:1em;}
.comment p{padding-top:1.4em;}
.mainSingle{margin-bottom:1em;}
.contactAccr{font-size:2em;}
.contentblog .readMore{margin-top:3em;}
@media only screen and (max-width:479px){.Warptop{height:225px;}.Warptop h2{text-align:center;margin-bottom:0.5em;} .Warptop .logo{height:auto;width:90%;margin:0;margin-top:0.25em;} .first{clear:both;margin:0;width:100%;text-align:center;}.first li{display:block;margin-bottom:0.5em;} .first a{margin:0;padding:0;} .accroche{font-size:1.4em;text-shadow:none;margin-top:1em;} .large{text-shadow:none;font-size:1em;} #jflowperso{display:none;} .sociallinks ul{margin:0;}.sociallinks ul li{background-size:75px;width:75px;height:auto;}.sociallinks ul li a{height:75px;}.sociallinks ul li a:hover{border:none;} .ic_linkedin{background-position:0 -158.98199462890625px;} .ic_facebook{background-position:0 0;} .ic_twitter{background-position:0 -78.98199462890625px;} .lastArticles{width:100%;padding:0 1em 0 1em;box-sizing:border-box;margin-top:1.5em;}.lastArticles img{width:100%;height:auto;} .lastArticles .txtart{clear:both;} .arttitle{margin-top:0;line-height:1em;color:#666666;} .footerclass{width:100%;padding:0em;} .footwrap{height:52em;padding:0em;} .cont{clear:both;width:100%;padding:0 1em 0 1em;box-sizing:border-box;text-align:center;} .hfooter{margin-top:1em;} .leftblog{clear:both;width:100%;padding-top:1.5em;} .rightblog{clear:both;display:none;} .contentwrap{width:100%;padding:0 1em 0 1em;box-sizing:border-box;} #map{clear:both;} #fieldcontact{width:12.2em;} .wrapform #email,.wrapform #name{width:14.7em;} #sending{margin:0 auto;margin-top:1em;}}@media only screen and (max-width:768px) and (max-width:959px){.first{margin:0;float:none;clear:both;text-align:center;}.first ul{margin-top:1em;} .first li{margin-right:0;} #jflowperso{display:none;} .accroche{font-size:2.2em;width:95%;} .Warptop{height:137px;} .choose{margin-top:0.7em;} .sociallinks{margin-top:-2.5em;} .lastArticles{width:90%;} .readMore{float:none;padding:0;border-radius:0;margin-left:1em;padding-right:0.5em;padding-left:0.5em;} .footerclass{width:90%;} .footwrap{font-size:82%;} .rightCont{display:none;} #fieldcontact{max-width:95%;max-height:95%;} .contentwrap{width:95%;} .wrapform form{width:100%;margin-bottom:1.5em;} .commentSpace .comment{margin-bottom:2em;} .commentSpace .readMore{float:right;} .blogContentwrap{width:95%;} .contentart img{width:95%;height:auto;}}@media only screen and (min-width:321px) and (max-width:600px){.Warptop{height:243px;} #fieldcontact{width:auto;}}@media only screen and (max-width:320px){.Warptop{height:13em;} .accroche{font-size:115%;width:95%;} .sociallinks ul{margin:0;}.sociallinks ul li{background-size:50px;width:50px;height:auto;}.sociallinks ul li a{height:50px;}.sociallinks ul li a:hover{border:none;} .ic_linkedin{background-position:0 -105.98199462890625px;} .ic_facebook{background-position:0 0;} .ic_twitter{background-position:0 -52.98199462890625px;} .sociallinks{margin-top:-1em;margin-bottom:-3em;} .lastArticles{width:100%;} .author{font-weight:400;font-size:80%;} .rightCont{display:none;} .contactAccr{font-size:1em;} .articles img{clear:both;margin:1em 0 1em 0;width:100%;height:auto;} .contentart img{width:39%;height:auto;} .txtart{clear:both;width:100%;} .artinfo{margin-top:0;}}@media only screen and (min-device-width:768px) and (max-device-width:1024px){}@media only screen and (min-device-width:768px) and (max-device-width:1024px) and (orientation:landscape){}@media screen and (min-width:768px) and (max-width:1024px){}@media only screen and (min-width:1824px){}
